<div class="container">
    <button mat-button class="d-block ms-auto" (click)="openDialog('add')" color="accent">addNote</button>
  <div class="row">
   <ng-container *ngIf="allNotes.length">
    <div class="col-md-4 g-4" *ngFor="let note of allNotes">
      <mat-card class="p-4">
        <button class="d-block ms-auto" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog('update' , note)">
              <mat-icon>update</mat-icon>
              <span>update</span>
            </button>
          
            <button mat-menu-item (click)="openDialog('delete' , note)">
              <mat-icon>delete</mat-icon>
              <span>delete</span>
            </button>
          </mat-menu>
          <mat-card-title>
            {{note.title}}
        </mat-card-title>

        <mat-divider></mat-divider>
          
        <mat-card-content>
            {{note.desc}}
        </mat-card-content>
      </mat-card>
    </div>
   </ng-container>
  </div>
</div>
